<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
<servlet>
<servlet-name>HelloAppEngine</servlet-name>
<servlet-class>com.eoss.chat.pusher.demo.HelloAppEngine</servlet-class>
</servlet>
<servlet>
<servlet-name>chat</servlet-name>
<servlet-class>com.example.appengine.pusher.ChatServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>authorize</servlet-name>
<servlet-class>com.example.appengine.pusher.AuthorizeServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>sendMessage</servlet-name>
<servlet-class>com.example.appengine.pusher.SendMessageServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>AccountService</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.AccountService</servlet-class>
</servlet>
<servlet>
<servlet-name>SubAccountService</servlet-name>
<servlet-class>
com.eoss.appengine.service.v0_001.SubAccountService
</servlet-class>
</servlet>
<servlet>
<servlet-name>SignInService</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.SignIn</servlet-class>
</servlet>
<servlet>
<servlet-name>SignOutService</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.SignOut</servlet-class>
</servlet>
<servlet>
<servlet-name>MessageService</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.MessageService</servlet-class>
</servlet>
<servlet>
<servlet-name>UserBotService</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.UserBotService</servlet-class>
</servlet>
<servlet>
<servlet-name>BotCallbackServlet</servlet-name>
<servlet-class>com.eoss.servlet.BotCallbackServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>BotCallbackServletAPI</servlet-name>
<servlet-class>com.eoss.servlet.BotCallbackServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>ChatLogService</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.ChatLogService</servlet-class>
</servlet>
<servlet>
<servlet-name>IPNService</servlet-name>
<servlet-class>com.eoss.appengine.payment.IPN</servlet-class>
</servlet>
<servlet>
<servlet-name>Billing</servlet-name>
<servlet-class>com.eoss.appengine.payment.Billing</servlet-class>
</servlet>
<servlet>
<servlet-name>BotService</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.BotService</servlet-class>
</servlet>
<servlet>
<servlet-name>PusherCountService</servlet-name>
<servlet-class>
com.eoss.appengine.service.v0_001.PusherCountService
</servlet-class>
</servlet>
<servlet>
<servlet-name>ContextLogService</servlet-name>
<servlet-class>
com.eoss.appengine.service.v0_001.ContextLogService
</servlet-class>
</servlet>
<servlet>
<servlet-name>GenerateQR</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.GenerateQR</servlet-class>
</servlet>
<servlet>
<servlet-name>CleanGGESession</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.CleanGGESession</servlet-class>
</servlet>
<servlet>
<servlet-name>LocaleService</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.LocaleService</servlet-class>
</servlet>
<servlet>
<servlet-name>OrderHistorySevice</servlet-name>
<servlet-class>
com.eoss.appengine.service.v0_001.OrderHistorySevice
</servlet-class>
</servlet>
<servlet>
<servlet-name>AdminChatLogService</servlet-name>
<servlet-class>
com.eoss.appengine.service.v0_001.AdminChatLogService
</servlet-class>
</servlet>
<servlet>
<servlet-name>StorageServlet</servlet-name>
<servlet-class>com.eoss.servlet.StorageServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>SetAttribute</servlet-name>
<servlet-class>com.eoss.servlet.SetAttribute</servlet-class>
</servlet>
<servlet>
<servlet-name>SessionMapServlet</servlet-name>
<servlet-class>com.eoss.servlet.SessionMapServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>GetContext</servlet-name>
<servlet-class>com.eoss.servlet.GetContext</servlet-class>
</servlet>
<servlet>
<servlet-name>BinaryStorageServlet</servlet-name>
<servlet-class>com.eoss.servlet.BinaryStorageServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>GetShowcaseList</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.GetShowcaseList</servlet-class>
</servlet>
<servlet>
<servlet-name>ShowCaseLanding</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.ShowCaseLanding</servlet-class>
</servlet>
<servlet>
<servlet-name>ClearUnknown</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.ClearUnknown</servlet-class>
</servlet>
<servlet>
<servlet-name>GetBuyFlagService</servlet-name>
<servlet-class>
com.eoss.appengine.service.v0_001.GetBuyFlagService
</servlet-class>
</servlet>
<servlet>
<servlet-name>ForgetPassword</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.ForgetPassword</servlet-class>
</servlet>
<servlet>
<servlet-name>ChangePassword</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.ChangePassword</servlet-class>
</servlet>
<servlet>
<servlet-name>ShowCaseService</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.ShowCaseService</servlet-class>
</servlet>
<servlet>
<servlet-name>ChatRoomService</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.ChatRoomService</servlet-class>
</servlet>
<servlet>
<servlet-name>ShowcaseListChatRoom</servlet-name>
<servlet-class>
com.eoss.appengine.service.v0_001.ShowcaseListChatRoom
</servlet-class>
</servlet>
<servlet>
<servlet-name>FBSignInService</servlet-name>
<servlet-class>com.eoss.appengine.service.v0_001.FBSignInService</servlet-class>
</servlet>
<servlet>
<servlet-name>BoardcastServlet</servlet-name>
<servlet-class>com.eoss.servlet.BoardcastServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>ChatRoom</servlet-name>
<jsp-file>/chatroom.jsp</jsp-file>
</servlet>
<servlet>
<servlet-name>ShowncaseList</servlet-name>
<jsp-file>/showcase-list.jsp</jsp-file>
</servlet>

<servlet-mapping>
<servlet-name>FBSignInService</servlet-name>
<url-pattern>/filter/fbSignIn</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ShowncaseList</servlet-name>
<url-pattern>/showncaseList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ChatRoom</servlet-name>
<url-pattern>/chatroom</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ShowcaseListChatRoom</servlet-name>
<url-pattern>/filter/showcaseListChatRoom</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>BoardcastServlet</servlet-name>
<url-pattern>/filter/boardcast</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ChatRoomService</servlet-name>
<url-pattern>/filter/chatRoomService</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>StorageServlet</servlet-name>
<url-pattern>/s/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>CleanGGESession</servlet-name>
<url-pattern>/clearSessionService</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>BinaryStorageServlet</servlet-name>
<url-pattern>/bin/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ForgetPassword</servlet-name>
<url-pattern>/filter/forgetPassword</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ChangePassword</servlet-name>
<url-pattern>/filter/changePassword</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ShowCaseService</servlet-name>
<url-pattern>/filter/addShowCase</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>GetShowcaseList</servlet-name>
<url-pattern>/filter/getShowcaseList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ShowCaseLanding</servlet-name>
<url-pattern>/filter/bot/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ClearUnknown</servlet-name>
<url-pattern>/filter/clearUnknown</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>GetContext</servlet-name>
<url-pattern>/filter/getContext</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AdminChatLogService</servlet-name>
<url-pattern>/filter/adminChatLogService</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SessionMapServlet</servlet-name>
<url-pattern>/sessionMapServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>GetBuyFlagService</servlet-name>
<url-pattern>/filter/getBuyFlagService</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>OrderHistorySevice</servlet-name>
<url-pattern>/filter/orderHistorySevice</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SetAttribute</servlet-name>
<url-pattern>/filter/setAttr</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>LocaleService</servlet-name>
<url-pattern>/service/v0_001/localeService</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>GenerateQR</servlet-name>
<url-pattern>/generateQR</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>chat</servlet-name>
<url-pattern>/chat</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ContextLogService</servlet-name>
<url-pattern>/contextLogService</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>IPNService</servlet-name>
<url-pattern>/ipnService</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Billing</servlet-name>
<url-pattern>/billing</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ChatLogService</servlet-name>
<url-pattern>/chatLogService</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>PusherCountService</servlet-name>
<url-pattern>/filter/service/v0_001/pusherCountService</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>UserBotService</servlet-name>
<url-pattern>/service/v0_001/userBotService</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>BotService</servlet-name>
<url-pattern>/filter/service/v0_001/botService</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>BotCallbackServlet</servlet-name>
<url-pattern>/messageService/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>BotCallbackServletAPI</servlet-name>
<url-pattern>/api_v1/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AccountService</servlet-name>
<url-pattern>/filter/service/v0_001/account</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SubAccountService</servlet-name>
<url-pattern>/filter/service/v0_001/subAccount</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SignInService</servlet-name>
<url-pattern>/filter/service/signIn</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SignOutService</servlet-name>
<url-pattern>/filter/service/signOut</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>authorize</servlet-name>
<url-pattern>/authorize/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>sendMessage</servlet-name>
<url-pattern>/filter/message</url-pattern>
</servlet-mapping>
<!--<servlet-mapping>
<servlet-name>HelloAppEngine</servlet-name>
<url-pattern>/hello</url-pattern>
</servlet-mapping>  -->

<filter>
<display-name>BotFilter</display-name>
<filter-name>BotFilter</filter-name>
<filter-class>com.eoss.filter.BotFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>BotFilter</filter-name>
<url-pattern>/*</url-pattern>
</filter-mapping> 

<filter>
<display-name>DomainFilter</display-name>
<filter-name>DomainFilter</filter-name>
<filter-class>com.eoss.filter.DomainFilter</filter-class>
</filter> 
<filter-mapping>
<filter-name>DomainFilter</filter-name>
<url-pattern>/filter/*</url-pattern>
</filter-mapping> 
       
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>